

/**************************************/
/*  Circular Menu classes             */
/* REQUIRED CLASSES                   */
/**************************************/

/* The label that appears when user rollover an element (default class )*/
.circular_menu_centered_label {
  fill: #111 !important;
  font-size: 20px !important;
  padding: 0;
  margin: 0;
}

/* Styles for Segment */
.menu-circular-segment {
  /* ... */
}

/* Styles for the selected menu item: TEXT/ICONS styles  */
.menu-circular-segment {
  font-size: 20px;

  /* Font color: texts of each segment can be manually
     set from the 'data' object but you can set a global color as shown below" */
  /* fill: red !important; */
}

/* Styles for the selected menu item: TEXT/ICONS styles  */
text.menu-circular-segment-selected {
  fill: orange !important;
  font-weight: 400;
  font-size: 1.5 em;
  pointer-events: none;
  text-decoration: underline;
}

/* Styles for the selected menu item: SEGMENT styles  */
path.menu-circular-segment-selected {
  fill: #333;
  /*opacity: 0.3 !important;*/
  /*pointer-events: none;*/
}


/*
text.centerLabel {
  fill: #111;
  padding: 0;
  margin: 0;
}*/
