/**************************************/
/* Global styles for demo             */
/**************************************/
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #d4d4d4;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(#d4d4d4));
  background: -webkit-radial-gradient(circle, #fff, #d4d4d4);
  background: -moz-radial-gradient(circle, #fff, #d4d4d4);
  background: -ms-radial-gradient(circle, #fff, #d4d4d4);
}

body, h2 {
  font-weight: 200;
}

.select_style {
    max-width: 350px;
    padding: 0;
    margin: 20px;
    border: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    background-color: #ccc;
    background: #efefef url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 95% 50%;
    //background: #efefef url(../assets/select_arrow2.png) no-repeat 95% 50%;
}

.select_style select {
    width: 130%;
    padding: 5px 8px;

    font-family: @font-family;
    font-size: 18px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select_style select:focus {
    outline: none;
}

/**************************************/
/* Bootstrap override for popover     */
/* Used in the examples with popover  */
/**************************************/
.popover {
  background-color: rgba(73, 73, 73, 0.9);
  color: white;
  border-radius: 0;
  padding: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  text-align: center;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
}
.popover * {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.popover .popover-content {
  padding: 0 !important;
}
.popover .arrow,
.popover .popover-title {
  display: none !important;
}

/**************************************/
/* Popover custom stuff               */
/* Used in the examples with popover  */
/**************************************/
/* The label above the circular menu  */
.popover_time_text {
  color: white;
  font-size: 1.5em;
  -webkit-transition: all 0.5s;
  transition: all .5s;
}

.popover_time_text_selected {
  color: orange;
  font-size: 2em;
}




/**************************************/
/*  Circular Menu classes             */
/* CUSTOM CLASSES                     */
/**************************************/

/* Same of previous but customized */
.circular_menu_centered_label_duration {
  fill: white;
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-size: 40px;
}


/* Styles for the selected menu item: TEXT/ICONS styles  */
.menu-circular-segment-small {
  font-size: 10px;
}

/* The label that appears when user rollover an element (default class )*/
.circular_menu_centered_label {
  fill: white !important;
  font-size: 12px !important;
  font-weight: bold;
}
